section ol>li:first-child{
    color:black;
}
ol{
    color:palevioletred;
}
foot p{
    color:block;

}
foot p:nth-child(2){
    color:orange;

}
 body>foot p:last-of-type{
      color:black;
 }

 nav a:first-child{
     color:purple;
 }
 nav a{
     color:red;
 }
 
 h1:first-letter{
     color:black;
 }
 header h1:first-of-type{
     color:greenyellow;
 }
 section h1:first-of-type{
     color:orange;
 }
 section>h1{
     color: greenyellow;
 }