body{
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    background:gray;
    width:600px;
    margin: auto;
}

#container>a{

    display:block;
    text-align: center;
    color:white;
    text-decoration: none;
    border:1px solid black;
    padding: 10px;
    text-transform: uppercase;

}
a:hover{
    background: #eee;
    color: gray;
}